<p-toolbar styleClass="ptoolbar" >
  <ng-template pTemplate="start">
      <img src="../../../../assets/logoComic.png" width="100" />
  </ng-template>
  <ng-template pTemplate="center">
      <div class="flexmenu">
          <span class="font-bold text-bluegray-50">Inicio</span>
          <span class="font-bold text-bluegray-50">Comics</span>
          <span class="font-bold text-bluegray-50">Tienda</span>
          <span class="font-bold text-bluegray-50">Contacto</span>
      </div>
  </ng-template>
  <ng-template pTemplate="end">
      <div class="center displayrow">
          <p-avatar label="B" shape="circle" />
          <span class="font-bold text-bluegray-50">{{username}}</span>
      </div>
  </ng-template>
</p-toolbar>
