<div class="ExplorarPage">
  <app-loading *ngIf="isloading"></app-loading>
  <div class="displayrow">
    <p-button class="" label="Agregar videojuego" (click)="showDialog()"></p-button>
  </div>
  <p-dataView [value]="games" [rows]="20">
    <ng-template let-games pTemplate="list"  class="p-dataview-content">
        <div class="grid grid-nogutter" >
            <div class="col-12" *ngFor="let item of games; let first = first">
                <div class="product-item flex align-items-center justify-content-between p-4 border-round surface-card" [ngClass]="{ 'border-top-1 surface-border': !first }">
                    <img class="product-image w-9 sm:w-16rem xl:w-10rem shadow-2 block mx-auto border-round" [src]="item.portada" [alt]="item.title" />
                    <div class="item-details flex-grow-1 flex align-items-center justify-content-between mx-4">
                        <div class="text-content">
                            <div class="text-2xl font-bold text-900">{{ item.titulo }}</div>
                            <div class="text-900">{{ item.formattedDate }}</div>
                        </div>
                        <div class="price-tag text-2xl font-semibold text-900">{{ '$' + item.precio }}</div>
                    </div>
                    <button pButton icon="pi pi-eye" class="p-button-rounded" pTooltip="Visualizar" tooltipPosition="top" (click)="viewGameDetails(item.id)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded"   pTooltip="Eliminar" tooltipPosition="top" ></button>

                  </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
<p-dialog header="Crear videojuego" [(visible)]="visible" [modal]="true" [style]="{ width: '25vw' }" [draggable]="false" [resizable]="false">
    <div class="formGrup">
      <!--Titulo-->
      <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="Titulo" [(ngModel)]="tituloGame" />
      </p-inputGroup>
      <!--Lastname-->
      <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="Descripción" [(ngModel)]="descriptionGame" />
      </p-inputGroup>
      <!--Portada-->
      <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="URL de imagen de portada" [(ngModel)]="portadaGame" />
      </p-inputGroup>
      <!--Rating-->
      <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <p-rating [(ngModel)]="ratingGame" class="ranking" [cancel]="false"></p-rating>
        </p-inputGroup>
      <!--Portada-->
      <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="Precio" [(ngModel)]="precioGame" />
      </p-inputGroup>
      <!--Varios screenshots-->
      <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="URL de imagen de screenshot" [(ngModel)]="screenshotGame" /> 
      </p-inputGroup>

      <div class="ranking2">
          <p-button label="Ingresar" class="mrL-1 mt1"  [loading]="loading" (onClick)="RegisterGame()"></p-button>
      </div>
      

    </div>
</p-dialog>
<div class="pagination-controls">
    <p-button (click)="prevPage()" >Anterior</p-button>
    <span>Página {{currentPage}}</span>
    <p-button (click)="nextPage()">Siguiente</p-button>
  </div>
</div>
