.PageSupplier{
    display: flex;
    margin: 2rem;
    margin-top: 10rem;
    flex-direction: column;

}
.formResponsive{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}
.input-form{
    width: 50% !important;
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    margin: 5px;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    gap: 10px;
    margin-bottom: 1rem;
}
::ng-deep .p-paginator {
    background: transparent !important;
    color: white !important;
    border: solid #f3f4f6;
    border-width: 0;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

:host ::ng-deep .p-dataview .p-dataview-content {
    background: transparent !important;
    color: white !important;
}

::ng-deep .p-dataview .p-dataview-content {
    background: transparent !important;
    color: white !important;
}


:host ::ng-deep p-dataview{
    margin: auto;
}

label{
    color: black;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.formGrup{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}