<div class="PageDetail">
  <div class="ImgDetail" [style.background-image]="getBackgroundImageUrl(game)"></div>
  <div class="todoDetail">
    <div class="InfoDetail displayrow">
      <img [src]="game?.portada" class="imgGame">
      <div class="textDetail">
        <h1>{{ game?.titulo }}</h1>
        <p class="Enterprise">Guerrilla Games</p> <!-- Supongamos que esto viene de otro campo o es estático -->
        <h1>${{ game?.precio }}</h1>
        <p-button class="btnShop" label="Añadir al carrito" iconPos="right" icon="pi pi-shopping-cart"></p-button>
      </div>
    </div>
    <div class="textDescription">
      <p>{{ game?.descripcion }}</p>
    </div>
  </div>
</div>
