<div class="PageDetail">
  <div class="ImgDetail"> </div>
  <div class="todoDetail">
    <div class="InfoDetail displayrow">
      <img src="/assets/horizon.jpeg" class="imgGame">
      <div class="textDetail">
        <h1>Horizon Forbidden West </h1>
        <p class="Enterprise">Guerilla Games</p>
        <h1>$59.99</h1>
        <p-button class="btnShop" label="Añadir al carrito"  iconPos="right" icon="pi pi-shopping-cart"></p-button>
      </div>
      
    </div>
    <div  class="textDescription">
      <p>Horizon Forbidden West es un videojuego de rol de acción, aventura y mundo abierto desarrollado por Guerrilla Games y distribuido por Sony Interactive Entertainment, el juego está disponible para PlayStation 4, PlayStation 5 y a partir del 21 de marzo del 2024 para Microsoft Windows.</p>
    </div>
    
  </div>
    <!--<img src="../../../assets/horizonFondo.jpg" alt="">-->
</div>
