<div class="InventarioPage">
  <div class="btnadd">
    <p-button label="Solicitar producto" icon="pi pi-plus" iconPos="right" (onClick)="GoSupplierPage()"></p-button>
  </div>
  <p-dataView #dv [value]="games" [rows]="5" [paginator]="true">
    <ng-template let-games pTemplate="list"  class="p-dataview-content">
        <div class="grid grid-nogutter" >
            <div class="col-12" *ngFor="let item of games; let first = first">
                <div class="product-item flex align-items-center justify-content-between p-4 border-round surface-card" [ngClass]="{ 'border-top-1 surface-border': !first }">
                    <img class="product-image w-9 sm:w-16rem xl:w-10rem shadow-2 block mx-auto border-round" [src]="item.image" [alt]="item.title" />
                    <div class="item-details flex-grow-1 flex align-items-center justify-content-between mx-4">
                        <div class="text-content">
                            <div class="text-2xl font-bold text-900">{{ item.title }}</div>
                            <div class="text-900">{{ item.enterprise }}</div>
                        </div>
                        <div class="price-tag text-2xl font-semibold text-900">{{ '$' + item.price }}</div>
                    </div>
                    <button pButton icon="pi pi-pencil" class="p-button-rounded" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"></button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"></button>

                  </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

</div>