<div class="pageInicio">
  <p-carousel [value]="images" class="carousel" [numVisible]="1" [numScroll]="1" [numScroll]="1" [circular]="true" autoplayInterval>
    <ng-template let-img pTemplate="item">
        <div class="text-center">
            <img [src]="img" class="images" [alt]="img" style="max-width: 100%;">
        </div>
    </ng-template>
  </p-carousel>
</div>

<div class="cardDiv">
  <div class="Cards">
    <div class="displayrow card">
      <div>
        <img src="../../../../assets/comicSpiderman.jpg" class="comic">
      </div>
      <div class="textCard">
        <h2 class="TitleResponse">Civil War #1, Edición Inicial</h2>
        <p>Comic es una forma de expresión que combina imágenes y texto con el fin de transmitir una historia o una idea.</p>
        <p class="money">9,99$</p>
      </div>
    </div>
    <div class="displayrow card">
      <div>
        <img src="../../../../assets/comicSpiderman.jpg" class="comic">
      </div>
      <div class="textCard">
        <h2 class="TitleResponse">Civil War #1, Edición Inicial</h2>
        <p>Comic es una forma de expresión que combina imágenes y texto con el fin de transmitir una historia o una idea.</p>
        <p class="money">9,99$</p>
      </div>
    </div>
    <div class="displayrow card">
      <div>
        <img src="../../../../assets/comicSpiderman.jpg" class="comic">
      </div>
      <div class="textCard">
        <h2 class="TitleResponse">Civil War #1, Edición Inicial</h2>
        <p>Comic es una forma de expresión que combina imágenes y texto con el fin de transmitir una historia o una idea.</p>
        <p class="money">9,99$</p>
      </div>
    </div>
    <div class="displayrow card">
      <div>
        <img src="../../../../assets/comicSpiderman.jpg" class="comic">
      </div>
      <div class="textCard">
        <h2 class="TitleResponse">Civil War #1, Edición Inicial</h2>
        <p>Comic es una forma de expresión que combina imágenes y texto con el fin de transmitir una historia o una idea.</p>
        <p class="money">9,99$</p>
      </div>
    </div>
    <div class="displayrow card">
      <div>
        <img src="../../../../assets/comicSpiderman.jpg" class="comic">
      </div>
      <div class="textCard">
        <h2 class="TitleResponse">Civil War #1, Edición Inicial</h2>
        <p>Comic es una forma de expresión que combina imágenes y texto con el fin de transmitir una historia o una idea.</p>
        <p class="money">9,99$</p>
      </div>
    </div>
    <div class="displayrow card">
      <div>
        <img src="../../../../assets/comicSpiderman.jpg" class="comic">
      </div>
      <div class="textCard">
        <h2 class="TitleResponse">Civil War #1, Edición Inicial</h2>
        <p>Comic es una forma de expresión que combina imágenes y texto con el fin de transmitir una historia o una idea.</p>
        <p class="money">9,99$</p>
      </div>
    </div>
  </div>
  <p-button label="Ver todos" class="mt1"></p-button>
</div>
