  <div class="inicioPage">

    <div class="image-container">
      <img src="../../../../assets/cyberpunk.jpg" class="cyberpunk">
      <div class="textImg">
        <h1>NIGHT CITY CHANGES <br> EVERY BODY</h1>
        <p>Cyberpunk is a subgenre of science fiction in a dystopian futuristic setting that tends to focus on a "combination of lowlife and high tech", featuring futuristic technological and scientific achievements, such as artificial intelligence and cyberware, juxtaposed with societal collapse, dystopia or decay.</p>
        <button class="btnPrimary">Buy for $99.99</button>
      </div>
    </div>
<div class="titleCarrousel">
  <h4>Populares: </h4>
  <button class="button2">Ver todo</button>
</div>
    <p-carousel [value]="cards" [numVisible]="6" [numScroll]="3" circular>
      <ng-template let-card pTemplate="item">
          <div class="Card">
              <img [src]="card.image" class="imgCards" alt="Card image">
              <h4>{{ card.title }}</h4>
              <span class="Enterprise">{{ card.enterprise }}</span>
              <div class="displayrow priceDiv">
                  <h3>{{ card.price }}</h3>
                  <i class="pi pi-shopping-cart infoBtn"></i>
              </div>
          </div>
      </ng-template>
  </p-carousel>
