.flexmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}
/* En tu archivo de estilos del componente que usa p-toolbar */
::ng-deep p-toolbar {
  background: transparent !important;
  border: none !important; /* Utiliza 'none' en lugar de 'transparent' para bordes */
}

::ng-deep .p-toolbar {
  background-color: transparent !important;
  border: none !important;
  color: white;
}

.backgroundtoolbar{
  position: fixed;
  border: none;
}
p-toolbar{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.521)) !important;
}