<div >
<div class="loginpage"></div>
  <img src="../../../../assets/gameStore2.png" class="logoComic">

  <div class="cardCentrada" *ngIf="!isNotRegistered">
    <h1 class="mrL-1">Iniciar sesión</h1>
    <p class="mrL-1">¿No tienes una cuenta? <span (click)="RegisteredClick()">Registrate</span></p>
    <!--User-->
    <p-inputGroup>
      <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
      <input pInputText placeholder="Usuario" [(ngModel)]="UserNameLogin" />
    </p-inputGroup>
    <!--Password-->
    <p-inputGroup>
      <button type="button" class="btnInput" pButton icon="pi pi-lock" ></button>
        <input type="password" pInputText placeholder="Contraseña" [(ngModel)]="PasswordLogin" />
    </p-inputGroup>
    <p-button label="Ingresar" class="mrL-1"  [loading]="loading" (onClick)="Login()"></p-button>

  </div>

</div>
<div >  
    <div class="cardCentrada2" *ngIf="isNotRegistered">
      <h1 class="mrL-1">Registrarse</h1>
      <p>¿Si tienes una cuenta? <span (click)="RegisteredClick()">Inicia sesión</span></p>
      <div class="formGrup">
        <!--User-->
        <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="Nombre" [(ngModel)]="NameRegister" />
        </p-inputGroup>
        <!--Lastname-->
        <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="Apellido" [(ngModel)]="LastNameRegister" />
        </p-inputGroup>
        <!--UserNAame-->
        <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="Nombre de usuario" [(ngModel)]="UserNameRegister" />
        </p-inputGroup>
        <!--Sexo-->
        <div class="mrgL1">
          <p-dropdown [options]="sexo" [(ngModel)]="selectedSexoRegister" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Selecciona un sexo"></p-dropdown>
        </div>
        
        <!--Edad-->
        <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-user" ></button>
          <input pInputText placeholder="Edad" [(ngModel)]="ageRegister" />
        </p-inputGroup>
        <!--Password-->
        <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-lock" ></button>
          <input type="password" pInputText placeholder="Contraseña"  [(ngModel)]="PasswordRegister" />
        </p-inputGroup>
        <!--Password-->
        <p-inputGroup>
          <button type="button" class="btnInput" pButton icon="pi pi-lock" ></button>
          <input type="password" pInputText placeholder="Confirmar contraseña"   [(ngModel)]="PasswordConfirmRegister"/>
        </p-inputGroup>

        <!--switch ADMIN-->
        <div class="mrgL1 margnT1 displayrow">
          <label for="switch" class="label">Administrador</label>
          <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
        </div>
        <p-inputGroup *ngIf="checked === true">
          <button type="button" class="btnInput" pButton icon="pi pi-lock" ></button>
          <input pInputText placeholder="Contraseña" [(ngModel)]="AdminFormPassword" />
        </p-inputGroup>

        <p-button label="Ingresar" class="mrL-1"  [loading]="loading" (onClick)="Register()"></p-button>
        

      </div>
        
      </div>
      
    </div>
    <div style="margin-bottom: 5rem;"></div>
    