<div class="pageComplete">
  <img src="../../../../assets/spiderman.png" class="spidey">

  <img src="../../../../assets/batman.png" class="batman">
  <p-card class="cardCentrada">
    <h1>Iniciar sesión</h1>
    <!--User-->
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input pInputText placeholder="Usuario" />
    </p-inputGroup>
    <!--Password-->
    <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-lock"></i>
        </p-inputGroupAddon>
        <input type="text" pInputText placeholder="Contraseña" />
    </p-inputGroup>

    <p-button label="Entrar" severity="danger"  [loading]="loading" (onClick)="load()"></p-button>

  </p-card>

</div>