
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";

:root {
    --color-primary: #282738;
    --color-secondary: #4B3EFA;
    --color-third: #474750;

  }
  h1, h2, h3, h4, h5, h6, p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
  }
  h1{
    font-size: 4rem;
    margin: 0.5rem;
  }
  p{
    font-size: 18px;
    color: white;
  }
  label{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
  }
span{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
span:hover{
    cursor: pointer;
    font-weight: 700;
}
html, body{
    height: 98vh;
    width: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    font-family: 'Roboto', sans-serif;

}
input{
    border: 1px solid #ccc;
    padding-left: 10px;
}
p-inputGroup{
    margin: 1rem;
}
p-button{
    border-radius: 0;
}
p-toolbar{
    width: 100%;
}
p-avatar{
    margin-right: 0.5rem;
}
.inputs{
  background-color:#F5F6F8 !important;
  border: transparent;
  padding: 0.5rem !important;
  width: 100%;
  border-radius: 5px !important;
}
.btnInput{
  border-radius: 0 !important;
}
.pageComplete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.pageCompleteSize{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayrow{
    display: flex;
    flex-direction: row;
}
.comic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    background-color: white;
    width: fit-content;
    height: 250px;
    margin: 1rem;

}

.textCard {
    background-color: white;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.TitleResponse {
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.money {
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: 600;
    margin: auto 0 0 0;
}

.Cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.cardDiv{
    margin: 1rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mt1{
    margin-top: 1rem;
}

.Globalbutton{
  background-color: var(--color-secondary);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 1.5rem;
  height: fit-content;
}
button:hover{
  cursor: pointer;
}
.button2{
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 1.5rem;
  height: fit-content;
}


.custom-carousel .p-carousel-indicators {
    display: none !important;
}
p-carousel{
    padding-bottom: 2rem;
}
.newGames{
    width: 45%;
}
.newGameImg{
    border-radius: 10px;
    width: 100%;
    height: 450px;
    background-size: cover;
}
.displayrow2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gap1{
    gap: 1rem;
}
.image-container {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
  
  }
  h4, h3{
    margin: 0;
  }
  .image-container .cyberpunk {
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  
  .image-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.232)); /* De oscuro a transparente */
    z-index: 1; /* Asegura que el degradado se sitúe sobre la imagen */
  }
  .textImg{
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    z-index: 2;
    margin-top: 1rem;
    margin-left: 6rem;
  }
  h1{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  
  .pe{
    width: 35%;
    font-size: 14px;
  }
  
  .PageCards{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  
  }
  
  
  .inicioPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
p-carousel{
    margin: 0rem 3rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  
  }
  
  
  .titleCarrousel{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    padding: 2rem 5rem;
    font-size: 20px;
    align-items: center;
    justify-content: space-between ;
  }
  
  .description{
    width: 70%;
    font-size: 12px;
  }
  .Enterprise{
    color: rgb(158, 158, 158);
  }
  .infoBtn{
    padding: 6px;
    background-color: white;
    border-radius: 50%;
  }
  
  .priceDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .infoBtn:hover{
    background-color: var(--color-secondary) !important;
    color: white;
    animation-duration: 0.5s;
  }

  .Card{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: var(--color-primary);
    width: 219px !important;
    cursor: pointer;
  }
  .imgCards{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  
  }

  .carritoCompras{
    position: fixed;
    right: 2rem;
    width: 50px;
    height: 50px;
    bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;

  }

  .mrgL1{
    margin-left: 1rem;
  }
  .mrgnT1{
    margin-top: 1rem;
  }

  .InventarioPage{
    margin-top: 10rem;
    margin: 3rem;
    background-color: transparent !important;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}
.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: none !important;
    background-color: transparent !important;
    background: transparent !important;
    border-radius: 8px;
  }
  
  .product-image {
    width: 100px; /* Ajusta esto según el tamaño deseado */
    height: auto;
    border-radius: 8px;
  }
  
  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .text-content {
    max-width: 60%; /* Ajusta esto según el espacio que quieras dar al texto */
  }
  
  .price-tag {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente como prefieras */
    white-space: nowrap;
  }
  
p-dataView{
    width: 95%;
}  


:host ::ng-deep .p-dataview .p-dataview-content {
    background: transparent !important;
    color: white !important;
}

::ng-deep .p-dataview .p-dataview-content {
    background: transparent !important;
    color: white !important;
}

::ng-deep .p-paginator {
    background: transparent !important;
    color: white !important;
    border: solid #f3f4f6;
    border-width: 0;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

.p-button-rounded{
    margin: 0rem 0.5rem;
    width: 50px;
    height: 50px;
}
.btnadd{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0rem 7rem;
    margin-top: 5rem;
}